<div class="xs-60-container container">
  <h2 class="welcome-title text-center">訊息列表</h2>
  <table class="table text-center table-hover" id="notice-table">
    <td>狀態</td>
    <td>標題</td>
    <td class="notice-sender">發信人</td>
    <td>時間</td>
    <% @notices.each do |notice| %>
    <tr>
      <td>
        <%= link_to notice_path(notice) do %>
          <% if notice.readed == false  %>
            <%= '未讀' %>
          <% else %>
            <%= '　　' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to notice.topic,notice_path(notice) %>
      </td>
      <td class="notice-sender">
        <%= link_to User.find(notice.user_id).name,notice_path(notice) %>
      </td>
      <td>
         <%= link_to notice.created_at.to_s(:short),notice_path(notice) %>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="text-center" data-no-turbolink='true'>
    <%= paginate @notices %>
    <br>
    <% if current_user.adminkey_id == 1 %>
      <%= link_to '發全站通知' , new_notice_path(:to => "all") ,:class => "btn btn-primary" %>
      <%= link_to '發個別通知' , new_notice_path ,:class => "btn btn-primary" %>
    <% end %>
  </div>  
</div>