<div class="xs-60-container">
  <h2 class="welcome-title">
    <% if params[:to] == 'all' %>
      <%= '新增全站通知' %>
    <% else %>
      <%= '新增通知' %>  
    <% end %>
  </h2>
  <%= form_for @notice do |f| %>
    <div class="input-group">
      <%= f.label :topic ,'標題',:class =>'input-group-addon' %>
      <%= f.text_field :topic ,:class => "form-control"  %>
    </div>
    </br>
    <%= f.text_area :content, cols: 40,:id => 'notice_editor',:class =>"form-control" %>
    <script>CKEDITOR.replace( 'notice_editor' );</script>

    <% if params[:to] != 'all' %>
      <%= render :partial => 'checkboxlist', :locals => {:f => f} %>
      <%= hidden_field_tag 'recipient[]','1' %>
      </br>
      <%= f.submit '送出通知',:class => 'btn btn-primary' %>
    <% else %>
      </br>
      <%= f.submit '送出全站通知',:class => 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to sanitize('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>'),notices_path , :class => "btn btn-back" %>
</div>