<%= f.label :name ,'課程名稱' %>
<%= f.text_field :name %>
<br>
<%= f.label :introduction ,'課程介紹' %>
<div data-no-turbolink>
<%= f.cktext_area :introduction %>
</div>
<br>
<%= f.label :applydeadline ,'申請加入期限' %>
<%= f.date_select :applydeadline %>
<br>
