<div class="xs-60-container container">
  <h2 class="welcome-title">刪除課程: <%= @classroom.name %></h2>
  <p>刪除課程將同時刪除以下文章，請確認希望留下封存的文章：</p>
  <p>(點選文章標題可在新視窗開啟文章查看內容)</p>
  
  <table class="table table-hover classroom-table">
   <tr>
     <td>文章標題</td>
     <td>封存與否</td>
   </tr>
   <%= form_tag delete_classroom_path(@classroom.id) %>
     <% @classroom.posttype.posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post.topic,post_path(post.id), :target => "_blank" %>
          </td>
          <td>
            <div class="checkbox">
              <label>
                <%= check_box_tag 'post_id[]', value = post.id%>
                點我保留
              </label>
            </div>
          </td>
        </tr>
      <% end %>
  </table>
  <div class="text-center">
    <%= submit_tag '送出', :data => { :confirm => "確定刪除並封存文章?" }, :class => "btn btn-primary" %>
  </div>  
</div>