<div class="xs-60-container container">
  <h2 class="welcome-title text-center">課程總覽</h2>
  <% @classrooms.each do |classroom| %>
    <% if Userclassroomship.where('user_id = ? AND classroom_id = ?',current_user.id,classroom.id).first.approved %>
      <div class="classroom-back">
        <a href="<%= classroom_path(classroom.id) %>" class="classroom-link">
          <div class="panel panel-primary">
            <div class="classroom-title panel-heading">
              <div class="text-center">
                <%= classroom.name %>
              </div>
            </div>
            <div class="classroom-content panel-body">
              <%= classroom.introduction %>
            </div>
          </div>
        </a>
      </div>
    <% else %>
    <div class="classroom-back panel panel-default">
      <div class="classroom-title text-center panel-heading">
        <%= classroom.name %> (待審核)
      </div>
      <div class="classroom-content panel-body">
        <%= classroom.introduction %>
      </div>
    </div>
    <% end %>
  
  <% end %>
  <% if current_user && current_user.adminkey_id == 1 %>
    <%= link_to '(管理者)新增課程',new_classroom_path, :class => 'btn btn-default' %>
  <% end %>
  <div class="clearfix"></div>
</div>