<h1>課程管理</h1>
<table class="table">
  <td>課程名稱</td>
  <td>申請狀態</td>
  <% if adminornot?(current_user) %>
    <td>管理者功能</td>
  <% end %>
  <% @classrooms.each do |classroom| %>
    <tr>
      <td>
        <%= classroom.name %>
      </td>
      <td>
        <% if Userclassroomship.where('user_id = ? AND classroom_id = ?',current_user.id,classroom.id).first.approved %>
          <%= '已加入課程' %>
        <% else %>
          <%= '等待審核中' %>
        <% end %>
      </td>
      <% if current_user && current_user.adminkey_id == 1 %>
      <td>
        <%= link_to '編輯',edit_classroom_path(classroom), :class => 'btn btn-default' %>
        <%= link_to '刪除',classroom_path(classroom),:method => :delete, :data => { :confirm => "確定刪除?" }, :class => "btn btn-default" %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= link_to '加入新課程' , userclassroomships_path, :class => 'btn btn-default' %>
<% if current_user && current_user.adminkey_id == 1 %>
  <%= link_to '(管理者)新增課程',new_classroom_path, :class => 'btn btn-default' %>
  <%= link_to '(管理者)審核申請',userclassroomship_mngindex_path, :class => 'btn btn-default' %>
<% end %>
<p><%= link_to '回首頁' , posts_path, :class => 'btn btn-default' %></p>
