<div class="xs-60-container container">
  <h2 class="welcome-title text-center">新增課程</h2>
  <%= form_for @classroom do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    </br>
    <%= render :partial => 'checkboxlist', :locals => {:f => f} %>
    <%= hidden_field_tag 'recipient[]','1' %>
    </br>
    <div class="text-center">
      <%= f.submit '新增課程', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
</br>