<%= form_for @homeworkpost do |f| %>
  <h2>
    <%= Homework.find(@homeworkpost.homework_id).title %>
  </h2>
  <p>
    <%= raw (Homework.find(@homeworkpost.homework_id).describe) %>
  </p>
  <%= f.label :content,'繳交內容' %>
  <div data-no-turbolink>
  <%= f.cktext_area :content, cols: 40 %>
  </div>
  <%= f.submit "繳交" ,:class => 'btn btn-default'%>
<% end %>
<h3>退件歷史</h3>
<table class="table">
  <% @homeworkpost.notices.each do |notice| %>
    <tr>
      <td>時間：<%= notice.created_at %></td></tr>
      <tr><td>退件內容：<%= raw notice.content %></td></tr>
  <% end %>
</table>

<p><%= link_to '回首頁' , posts_path,:class => 'btn btn-default' %></p>
