<h1>編輯退件訊息</h1>
<%= form_for @notice, :url => sendnotice_homeworkpost_path do |f| %>
  <div data-no-turbolink>
  <%= f.cktext_area :content %>
  </div>
  <%= hidden_field(:homeworkpost,:id,:value => params[:id]) %>
    </br>
    <%= f.submit '送出通知',:class => 'btn btn-default' %>
<% end %>
<p><%= link_to '回首頁' , posts_path, :class => 'btn btn-default' %></p>