<h2 class="text-center welcome-title">分類管理</h2>
<p class="text-center welcome-note">小提醒：內建與課程之分類無法刪除。</p>
<table class="table table-bordered table-striped posttype-list">
  <% @posttypes.each do |posttype| %>
    <tr>
      <td class="col-xs-8">
        <%= posttype.typename %>
      </td>
      <td class="col-xs-4 text-center">
        <% if posttype.classroom_id == 0 && posttype.id > 2 %>
          <%= link_to '刪除分類', posttype_path(posttype), :method => :delete, :data => { :confirm => "確定刪除? 將會連同此分類之文章一起刪除" }, :class => "btn btn-primary" %>
        <% else %>
          <p></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="form-div">
  <%= form_for @posttype do |f| %>
  <div class="input-group col-xs-6">
    <%= f.text_field :typename,:class => 'form-control' %>
    <span class="input-group-btn">
      <%= f.submit "新增分類",:class => 'btn btn-primary' %>
    </span>
  </div>
</div>
<% end %>