<h1>我的作業</h1>

<% current_user.classrooms.each do |classroom| %>
  <h3><%= classroom.name %></h3>
  <table class="table">
    <% classroom.homeworks.each do |homework| %>
    <tr>
      <td><%= link_to homework.title,homework_path(homework) %></td>
      <td><%= homework.created_at %></td>
      <% if current_user && current_user.adminkey_id == 1 %>
        <td>
          <%= link_to "編輯", edit_homework_path(homework), :class => "btn btn-default" %>
          <%= link_to '刪除', homework_path(homework),:method => :delete, :data => { :confirm => "確定刪除?" }, :class => "btn btn-default" %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
<% if current_user && current_user.adminkey_id == 1 %>
  <%= link_to '新增功課',new_homework_path, :class => 'btn btn-default' %>
<% end %>
<%= link_to '回首頁',posts_path, :class => 'btn btn-default' %>
