<h1>
  <%= @homework.title %>
</h1>
<%= simple_format(@homework.describe) %>
<% if current_user.adminkey_id == 1 %>
  <%= link_to '編輯', edit_homework_path(@homework), :class => "btn btn-default" %>
<% end %>

<% if current_user.adminkey_id == 1 %>
  <h3>學員繳交</h3>
  <% @homework.homeworkposts.each do |post| %>
    <div class='post handin-<%= post.handin%>'>
      <div class="post name"><%= User.find(post.user_id).name %>(<% if post.handin == true%>已繳<% else %>未繳<% end %>)</div>
      <div class="post content"><%= simple_format(post.content) %></div>
    </div>
  <% end %>
<% else %>
  <h3>我的繳交結果：</h3>
  <div><%= simple_format(@homework.homeworkposts.where('user_id=?',current_user.id).first.content) %></div>
  <%= link_to '編輯',edit_homeworkpost_path(@homework.homeworkposts.where('user_id=?',current_user.id).first.id), :class => "btn btn-default" %>
<% end %>

<p>
  <%= link_to '回首頁' , posts_path, :class => 'btn btn-default' %>
</p>