<div class="homework-describe">
  <div class="show-topic-wrapper">
    <h2 class="welcome-title">
      <%= @homework.title %>
    </h2>
    <p>時間：<%= @homework.created_at.to_s(:short) %></p>
    <% if current_user.adminkey_id == 1 %>
      <%= link_to '編輯', edit_homework_path(@homework), :class => "btn btn-danger post-show-btn" %>
    <% end %>
  </div>
  <div class="show-content clearfix">
    <%= raw (@homework.describe) %>
  </div>
</div>
<div class="xs-60-container handin">
  <% if current_user.adminkey_id == 1 %>
    <h2 class="welcome-title">學員繳交</h2>
    <% @homework.homeworkposts.each do |post| %>
      <div class='panel panel-default'>
        <div class="panel-heading post-name handin-<%= post.handin%>">
          <% if post.handin == true %>
          <a href="#" class="return-history-title">
            <h5 class="welcome-title">
              <%= User.find(post.user_id).name %>
              (已繳)
              <i class="fa fa-plus pull-right" aria-hidden="true"></i>
              <i class="fa fa-minus pull-right hidden" aria-hidden="false"></i>
            </h5>
          </a>
          <% else %>
          <h5 class="welcome-title">
            <%= User.find(post.user_id).name %>
            (未繳）
          </h5>
          <% end %>
        </div>
        <div class="panel-body post-content hidden">
          <%= raw (post.content) %>
          <% if post.handin? %>
            <%= link_to '退件',returnhomework_homeworkpost_path(post.id), :class => "btn btn-primary pull-right" %>
          <% end %>
        </div>
        
      </div>
    <% end %>
  <% else %>
    <h2 class="welcome-title text-center">我的繳交結果：</h2>
    <div class="homework-content"><%= raw (@homework.homeworkposts.where('user_id=?',current_user.id).first.content) %></div>
    <div class="text-center">
      <%= link_to '編輯',edit_homeworkpost_path(@homework.homeworkposts.where('user_id=?',current_user.id).first.id), :class => "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>'),homeworks_path , :class => "btn btn-back" %>
</div>