<%= f.label :topic ,'標題' %>
<%= f.text_field :topic %>
<br>
<%= f.label :posttype_id ,'分類' %>
<%= f.collection_select(:posttype_id, Posttype.all, :id, :typename,{:selected => Posttype.first}) %>
<br>
<%= f.label :content,'內文' %>
<div data-no-turbolink>
<%= f.cktext_area :content, cols: 40 %>
</div>
