<div class="xs-60-container">
  <h2 class="welcome-title">
    <%= '編輯：[' %>
    <%=  Posttype.find(@post.posttype_id).typename  %>
    <%= ']' %>
    <%= @post.topic %>
  </h2>
  <%= form_for @post do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="text-center">
    <%= f.submit "更新" ,:class => 'post-submit-btn btn btn-primary'%>
  </div>
  </br>
  <%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>'),posts_path , :class => "btn btn-back" %>
  <% end %>
</div>