<h1>
  <%= '編輯：[' %>
  <%=  Posttype.find(@post.posttype_id).typename  %>
  <%= ']' %>
  <%= @post.topic %>
</h1>

<%= form_for @post do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= f.submit "更新" ,:class => 'btn btn-default'%>
<% end %>

<p><%= link_to '回首頁' , posts_path,:class => 'btn btn-default' %></p>