<h1>文章首頁</h1>
<table class="table">
  <tr>
  <% @posts.each do |p| %>
    <td>
      <%= '[' %>
      <%=  Posttype.find(p.posttype_id).typename  %>
      <%= ']' %>
    </td>
    <td>
      <%= p.topic %>
    </td>
    <td>
      <%= p.created_at %>
    </td>
    <td>
      <%= link_to '閱讀', post_path(p), :class => "btn btn-default" %>
      <% if p.adminornot?(current_user) %>
        <%= link_to '編輯', edit_post_path(p), :class => "btn btn-default" %>
        <%= link_to '刪除', post_path(p),:method => :delete, :data => { :confirm => "確定刪除?" }, :class => "btn btn-default" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>


<%= paginate @posts %>
<br>



<%= link_to '新增文章', new_post_path, :class => "btn btn-default"  %>
<%= link_to '分類排序', posts_path(:sort => "class"), :class => "btn btn-default" %>
<%= link_to '新舊排序', posts_path ,  :class => "btn btn-default" %>
<%= link_to '讀取全部資料', posts_path(:alldata => "y"), :class => "btn btn-default" %>

<% if Post.new.adminornot?(current_user) %>
  <p><%= link_to '管理分類' , posttypes_path, :class => "btn btn-default" %></p>
<% end %>


