<h1>
  <%= '[' %>
  <%=  Posttype.find(@post.posttype_id).typename  %>
  <%= ']' %>
  <%= @post.topic %>
</h1>
<%= simple_format(@post.content) %>

<p><%= link_to '回首頁' , posts_path, :class => 'btn btn-default' %></p>