<div class="show-topic-wrapper">
  <div class="xs-60-container">
    <h2 class="show-title">
      <%= @post.topic %>
    </h2>
    <p><%= "分　類："+Posttype.find(@post.posttype_id).typename%></p>
    <p><%= '發布者：' + @post.user.name %></p>
    <p><%= "時　間：" + @post.created_at.to_s(:short) %></p>
    <% if current_user && current_user.adminkey_id == 1 %>
        <%= link_to '編輯', edit_post_path(@post), :class => "btn btn-danger post-show-btn" %>
    <% end %>
  </div>
</div>
<div class="show-content xs-60-container container clearfix">
  <%= raw (@post.content) %>
  <%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>'),posts_path , :class => "btn btn-back" %>
</div>
