<!DOCTYPE html>
<html>
  <head>
    <title>MyClassroom</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" data-turbolinks-track>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" data-turbolinks-track></script>


  </head>
  <body>
    <%= render "common/navbar" %>
    <div class="body-wrapper">
      <div class="body-render container-fluid">
      <%= yield %>
      </div>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
