<h2 class="text-center welcome-title">帳號管理</h2>
<tr>
  <td>名稱</td>
  <td>生日</td>
  <td class="account-email">電子信箱</td>
  <td>權限</td>
  <td>修改</td>
</tr>
<%= form_tag accounts_path, :class => "clearfix" do %>
<table class="table account-mng-table table-striped">
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.birthday %></td>
      <td class="account-email"><%= account.email %></td>
      <td><%= account.adminkey.rolename %></td>
      <td class="account-selectbox"><%= collection_select(:adminset,account.id, Adminkey.all, :id, :rolename,{:prompt => '不更改'},:class => 'selectpicker') %></td>
    </tr>
  <% end %>
</table>
  <div class="text-center">
    <%= submit_tag '更新權限', :class => 'btn btn-primary clearfix' %>
  </div>
<% end %>