<h1>帳號管理</h1>
<p>
  <div class="col-sm-3 text-center">使用者名稱</div>
  <div class="col-sm-3 text-center">生日</div>
  <div class="col-sm-3 text-center">電子信箱</div>
  <div class="col-sm-3 text-center">權限管理</div>
</p>
<%= form_tag accounts_path do %>
  <% @accounts.each do |account| %>
    <p>
      <div class="col-sm-3 text-center"><%= account.name %></div>
      <div class="col-sm-3 text-center"><%= account.birthday %></div>
      <div class="col-sm-3 text-center"><%= account.email %></div>
      <div class="col-sm-3 text-center">
        <%= account.adminkey.rolename %>
        <%= collection_select(:adminset,account.id, Adminkey.all, :id, :rolename,{:prompt => '尚未選擇(不更改)'}) %>
      </div>
    </p>
  <% end %>
  <%= submit_tag '更新權限', :class => 'btn btn-default' %>
<% end %>


<%= link_to '回首頁', posts_path ,  :class => "btn btn-default" %><%= form_tag accounts_path do %>


